#gameTable{
	border-style: solid;
  border-width: 1px;
  margin: 1%;

}#mainBase{
  padding: 2%;
  background-color: #fff;
  height: 100vh;

}#body{
  background-color: #ddd;

}#options {

}#preview{
  border-style: solid;
  border-width: 1px;

}.squarePreview {
  width: 10px;
  height: 10px;

}#banner{
  margin: 1%;

}#banner button{
  margin-left: 50px;

}#options {
  padding: 1%;

}#optionsTable{
}